<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <connectionStrings>
    <add name="SQL" connectionString="Server=.\SQLEXPRESS;Database=AdventureWorks2017;User Id=sda;Password=sda123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="AppVersion" value="1.0.0.0" />
  </appSettings>

  <appCustomSettings>
    <add idKey="1" valueKey="sample" protected="false"/>    
  </appCustomSettings>
  
</configuration>