<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <sqlTypeSettings>
    <add sqlType="bigint" netType="Int64" sqlDbType="BigInt" sqlDataReaderType="GetSqlInt64" dbType="Int64" sqlDataReaderDbType="GetInt64"/>
    <add sqlType="binary" netType="Byte[]" sqlDbType="VarBinary" sqlDataReaderType="GetSqlBinary" dbType="Binary" sqlDataReaderDbType="GetBytes"/>
    <add sqlType="bit" netType="Boolean" sqlDbType="Bit" sqlDataReaderType="GetSqlBoolean" dbType="Boolean" sqlDataReaderDbType="GetBoolean"/>
    <add sqlType="char" netType="String" sqlDbType="Char" sqlDataReaderType="GetSqlString" dbType="AnsiStringFixedLength," sqlDataReaderDbType="GetString"/>
    <add sqlType="date" netType="DateTime" sqlDbType="Date" sqlDataReaderType="GetSqlDateTime" dbType="Date" sqlDataReaderDbType="GetDateTime"/>
    <add sqlType="datetime" netType="DateTime" sqlDbType="DateTime" sqlDataReaderType="GetSqlDateTime" dbType="DateTime" sqlDataReaderDbType="GetDateTime"/>
    <add sqlType="datetime2" netType="DateTime" sqlDbType="DateTime2" sqlDataReaderType="None" dbType="DateTime2" sqlDataReaderDbType="GetDateTime"/>
    <add sqlType="datetimeoffset" netType="DateTimeOffset" sqlDbType="DateTimeOffset" sqlDataReaderType="none" dbType="DateTimeOffset" sqlDataReaderDbType="GetDateTimeOffset"/>
    <add sqlType="decimal" netType="Decimal" sqlDbType="Decimal" sqlDataReaderType="GetSqlDecimal" dbType="Decimal" sqlDataReaderDbType="GetDecimal"/>
    <add sqlType="float" netType="Double" sqlDbType="Float" sqlDataReaderType="GetSqlDouble" dbType="Double" sqlDataReaderDbType="GetDouble"/>
    <add sqlType="image" netType="Byte[]" sqlDbType="Binary" sqlDataReaderType="GetSqlBinary" dbType="Binary" sqlDataReaderDbType="GetBytes"/>
    <add sqlType="int" netType="Int32" sqlDbType="Int" sqlDataReaderType="GetSqlInt32" dbType="Int32" sqlDataReaderDbType="GetInt32"/>
    <add sqlType="money" netType="Decimal" sqlDbType="Money" sqlDataReaderType="GetSqlMoney" dbType="Decimal" sqlDataReaderDbType="GetDecimal"/>
    <add sqlType="nchar" netType="String" sqlDbType="NChar" sqlDataReaderType="GetSqlString" dbType="StringFixedLength" sqlDataReaderDbType="GetString"/>
    <add sqlType="ntext" netType="String" sqlDbType="NText" sqlDataReaderType="GetSqlString" dbType="String" sqlDataReaderDbType="GetString"/>
    <add sqlType="numeric" netType="Decimal" sqlDbType="Decimal" sqlDataReaderType="GetSqlDecimal" dbType="Decimal" sqlDataReaderDbType="GetDecimal"/>
    <add sqlType="nvarchar" netType="String" sqlDbType="NVarChar" sqlDataReaderType="GetSqlString" dbType="String" sqlDataReaderDbType="GetString"/>
    <add sqlType="real" netType="Single" sqlDbType="Real" sqlDataReaderType="GetSqlSingle" dbType="Single" sqlDataReaderDbType="GetFloat"/>
    <add sqlType="rowversion" netType="Byte[]" sqlDbType="Timestamp" sqlDataReaderType="GetSqlBinary" dbType="Binary" sqlDataReaderDbType="GetBytes"/>
    <add sqlType="smalldatetime" netType="DateTime" sqlDbType="DateTime" sqlDataReaderType="GetSqlDateTime" dbType="DateTime" sqlDataReaderDbType="GetDateTime"/>
    <add sqlType="smallint" netType="Int16" sqlDbType="SmallInt" sqlDataReaderType="GetSqlInt16" dbType="Int16" sqlDataReaderDbType="GetInt16"/>
    <add sqlType="smallmoney" netType="Decimal" sqlDbType="SmallMoney" sqlDataReaderType="GetSqlMoney" dbType="Decimal" sqlDataReaderDbType="GetDecimal"/>
    <add sqlType="sql_variant" netType="Object 2" sqlDbType="Variant" sqlDataReaderType="GetSqlValue 2" dbType="Object" sqlDataReaderDbType="GetValue 2"/>
    <add sqlType="text" netType="String" sqlDbType="Text" sqlDataReaderType="GetSqlString" dbType="String" sqlDataReaderDbType="GetString"/>
    <add sqlType="time" netType="TimeSpan" sqlDbType="Time" sqlDataReaderType="none" dbType="Time" sqlDataReaderDbType="GetDateTime"/>
    <add sqlType="timestamp" netType="Byte[]" sqlDbType="Timestamp" sqlDataReaderType="GetSqlBinary" dbType="Binary" sqlDataReaderDbType="GetBytes"/>
    <add sqlType="tinyint" netType="Byte" sqlDbType="TinyInt" sqlDataReaderType="GetSqlByte" dbType="Byte" sqlDataReaderDbType="GetByte"/>
    <add sqlType="uniqueidentifier" netType="Guid" sqlDbType="UniqueIdentifier" sqlDataReaderType="GetSqlGuid" dbType="Guid" sqlDataReaderDbType="GetGuid"/>
    <add sqlType="varbinary" netType="Byte[]" sqlDbType="VarBinary" sqlDataReaderType="GetSqlBinary" dbType="Binary" sqlDataReaderDbType="GetBytes"/>
    <add sqlType="varchar" netType="String" sqlDbType="VarChar" sqlDataReaderType="GetSqlString" dbType="AnsiString, String" sqlDataReaderDbType="GetString"/>
    <add sqlType="xml" netType="String" sqlDbType="Xml" sqlDataReaderType="GetSqlXml" dbType="Xml" sqlDataReaderDbType="none"/>
  </sqlTypeSettings>

</configuration>